<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Création des agences</strong>
          </div>
  <div class="card-body">
    <div class="form-group">
      <label for="Code">Code</label>
            <input type="text" class="form-control" id="Code" [(ngModel)]="agence.code">
          </div>
      
        <div class="form-group">
            <label for="libelle">Libelle</label>
            <input type="text" class="form-control" id="libelle" [(ngModel)]="agence.libelle">
          </div>
      

    </div>
    <div class="card-footer">
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
  </div>
  </div>
  </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des Agences
          </div>
          <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Libelle</th>
          <th>Deleted</th>
 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of agences">
          <td>{{item.id}}</td>
          <td>{{item.code}}</td>
          <td>{{item.libelle}}</td>
          <td>{{item.deleted}}</td>

          <td>
              <button type="submit" class="btn btn-danger" (click)="delete(item.id)">Delete</button>
              <button type="button" class="btn btn-warning" (click)="selectOne(item)">Update</button>
              <button type ="button" class="btn btn-info" (click)="deleted(item.id)">Deleted</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>