
html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/4/9/8/158687.jpg');
background-size: cover;
background-repeat: no-repeat;
width:100%;
height: 100%;
font-family: 'Numans', sans-serif;
position:absolute;
    z-index:300;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 20%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
color: white;

}

.input-group-prepend span{
width: 50px;
background-color: hsl(233, 95%, 9%);
color: rgb(255, 255, 255);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn_perso{
color: white;
background-color:  hsl(233, 95%, 9%);
width: 100px;
border-radius: 6px;
font-family:Arial;
padding: 0;
border: none;
width: 40%;
height: 40px;
margin-top: 10%;
margin-left: 35%;

}

.login_btn_perso:hover{
color: hsl(233, 95%, 9%);
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}