.error_btn_perso{
    color: white;
    background-color:  hsl(233, 95%, 9%);
    width: 100px;
    border-radius: 6px;
    font-family:Arial;
    padding: 0;
    border: none;
    width: 40%;
    height: 40px;
    margin-top: 10%;
    margin-left: 30%;
    
    }
    
    .error_btn_perso:hover{
    color: hsl(233, 95%, 9%);
    background-color: white;
    }

.div_perso{
    color: hsl(233, 95%, 9%);
    background-color:  hsl(0, 0%, 100%);
    border: none;
}

.persoTxt {
    color: red;
    font-weight: bold;
}