<div class="div_perso">
    <h1 class="persoTxt" mat-dialog-title>Votre comtpe est bloqué</h1>
    <h3 class="persoTxt2"> <br> Votre compte a été bloqué merci de contacter un Administrateur
        <br>par mail : <a href="mailto:webmaster@example.com"> webmaster@example.com</a>
        <br>par téléphone : <a href="tel:+33711223344"> 07 11 22 33 44</a>
    </h3>
    <mat-dialog-actions>
        <button class="error_btn_perso" mat-raised-button (click)="closeMe()">Close</button>
    </mat-dialog-actions>
</div>